<!-- con esto se añade un diseño de modal a el formulario -->
<ngx-smart-modal #bancos_form_modal identifier="banco_form_modal" [closable]="false" [escapable]="false"
  [dismissable]="false" customClass="modal-smart-40 modal-smart-top-25">
  <form #bancoForm="ngForm">
    <!-- cabeza del modal donde ira el titulo -->
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- titulo del modal -->
      <h4 class="modal-title">
        <!-- en caso de usar el boton de nuevo se aplica la opcion 1 -->
        <span *ngIf="c_accion==1">Nuevo Banco</span>
        <!-- en caso de edicion el boton 2 -->
        <span *ngIf="c_accion==2">Editar Banco</span>
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group form-group-sm">
            <label for="nombre">Código banco<span class="required">*</span></label>
            <input type="number" class="form-control input-sm" required name="codigo" id="codigo"
              [(ngModel)]="formData.codigo" #codigo="ngModel" placeholder="Código del banco">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group form-group-sm">
            <label for="nombre">Nit banco<span class="required">*</span></label>
            <input type="text" class="form-control input-sm" id="nit" name="nit" required placeholder="Nit del banco"
              [(ngModel)]="formData.nit" #nit="ngModel">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group form-group-sm">
            <label for="nombre">Nombre banco<span class="required">*</span></label>
            <input type="text" class="form-control input-sm" required name="nombre" id="nombre"
              placeholder="Nombre del banco" [(ngModel)]="formData.nombre" #nombre="ngModel">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrar()">Cerrar
      </button>
      <button type="button" class="btn btn-success" *ngIf="c_accion==1" (click)="guardar(bancoForm,bancoForm)"
        [disabled]="!bancoForm.valid">
        <i class="fa fa-save"></i> Guardar banco
      </button>
      <button type="button" class="btn btn-success" *ngIf="c_accion==2" (click)="editar(bancoForm,bancoForm)"
        [disabled]="!bancoForm.valid">
        <i class="fa fa-save"></i> Editar banco
      </button>

    </div>
  </form>
</ngx-smart-modal>