<div class="page-footer">
		<div class="row">
				<div class="col-xs-12 col-sm-6">
						<span class="txt-color-white">Copyright © 2019-2020 Mobilsoft - Todos los derechos reservados</span>
				</div>

				<div class="col-xs-6 col-sm-6 text-right hidden-xs">
						<div class="txt-color-white inline-block">
								<i class="txt-color-blueLight hidden-mobile" style="color:white !important;"> Conectado a <strong>[ATLANTICO]</strong> desde <strong>[192.168.1.5]</strong></i>
						</div>
				</div>
		</div>
</div>
