<div class="table-responsive">
  <!-- inicio de la tabla -->
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered">
    <thead>
      <!-- Columnas de la tabla -->
      <tr>
        <th>CODIGO</th>
        <th>NIT</th>
        <th>Nombre</th>
        <th width=120>Estado</th>
        <th width=120>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- contenido de toda la tabla -->
      <tr *ngFor="let item of listadoBancos">
        <td>{{ item.codigo }}</td>
        <td>{{ item.nit }}</td>
        <td>{{ item.nombre }}</td>
        <td class="text-center">
          <span *ngIf="item.estado==1" class="label label-success">Activo</span>
          <span *ngIf="item.estado==0" class="label label-danger">Inactivo</span>
        </td>
        <td class="btns text-center">
          <button *ngIf="item.estado==1" class="btn btn-primary btn-xs mr3" (click)="editar(item.id)"><i
              class="fa fa-edit"></i></button>
          <button *ngIf="item.estado==1" class="btn btn-danger btn-xs mr3" (click)="desactivar(item.id)"><i
              class="fa fa-remove"></i></button>
          <button *ngIf="item.estado==0" class="btn btn-warning btn-xs mr3" (click)="reactivar(item.id)"><i
              class="fa fa-refresh"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- fin de la tabla -->
</div>