<ngx-smart-modal #descuento_form_modal identifier="descuento_form_modal" [closable]="false" [escapable]="false"
  [dismissable]="false" customClass="modal-smart-60 modal-smart-top-15">
    <form #descuentoForm="ngForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <span *ngIf="c_accion==1">Nuevo descuento</span>
            <span *ngIf="c_accion==2">Editar descuento</span>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group form-group-sm">
                <label for="id">CODIGO <span class="required">*</span></label>
                <input type="text" class="form-control input-sm" name="codigo" codigo="codigo" required [(ngModel)]="formData.codigo" #codigo="ngModel" placeholder="CODIGO">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-sm">
                <label for="nombre">Nombre <span class="required">*</span></label>
                <input type="text" class="form-control input-sm" name="nombre" id="nombre" required
                  [(ngModel)]="formData.nombre" #nombre="ngModel" placeholder="Nombre">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group form-group-sm">
                <label for="nombre">Descuento <span class="required">*</span></label>
                <input type="number" class="form-control input-sm" name="descuento" id="descuento" required [(ngModel)]="formData.descuento" #descuento="ngModel" placeholder="%Descuento">
              </div>
            </div>
          </div>
          <hr>
          <span>Productos con asociados con diferente descuento</span>
          <app-table-producto-descuentos></app-table-producto-descuentos>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="cerrar(); descuentoForm.reset()">Cerrar
          </button>
          <button type="button" class="btn btn-success" *ngIf="c_accion==1" [disabled]="!descuentoForm.valid"
            (click)="guardar(descuentoForm,descuentoForm);">
            <i class="fa fa-save"></i> Guardar descuento
          </button>
          <button type="button" class="btn btn-primary" *ngIf="c_accion==2" [disabled]="!descuentoForm.valid"
            (click)="editar(descuentoForm,descuentoForm);">
            <i class="fa fa-save"></i> Editar descuento
          </button>
        </div>
    </form>
</ngx-smart-modal>