<ngx-smart-modal #cuentas_form_modal identifier="cuentas_form_modal" [closable]="false" [escapable]="false"
  [dismissable]="false" customClass="modal-smart-50 modal-smart-top-15">
  <form #cuentasForm="ngForm">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">
        <span *ngIf="c_accion==1">Nueva cuenta contable</span>
        <span *ngIf="c_accion==2">Editar cuenta contable</span>
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group form-group-sm">
            <label for="id">CODIGO <span class="required">*</span></label>
            <input type="text" class="form-control input-sm" name="codigo" codigo="codigo" required placeholder="CODIGO"
              [(ngModel)]="formData.codigo" #codigo="ngModel">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group form-group-sm">
            <label for="naturaleza">NATURALEZA <span class="required">*</span></label>
            <select name="naturaleza" id="naturaleza" class="form-control" [(ngModel)]="formData.naturaleza"
              #naturaleza="ngModel" required>
              <option value="0">DEBITO</option>
              <option value="1">CREDITO</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group form-group-sm">
            <label for="nivel">NIVEL<span class="required">*</span></label>
            <select name="nivel" id="nivel" class="form-control" [(ngModel)]="formData.nivel" #nivel="ngModel" required>
              <option value="1">NIVEL 1</option>
              <option value="2">NIVEL 2</option>
              <option value="3">NIVEL 3</option>
              <option value="4">NIVEL 4</option>
              <option value="5">NIVEL 5</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group form-group-sm">
            <label for="id">NOMBRE CUENTA<span class="required">*</span></label>
            <input type="text" class="form-control input-sm" name="nombre" codigo="nombre" required
              placeholder="Nombre de la cuenta" [(ngModel)]="formData.nombre">
          </div>
        </div>
        <div class="col-md-6">
          <div class="custom-control custom-checkbox">
            <!-- check nuevo -->
            <input type="checkbox" class="custom-control-input" id="retencion" name="retencion"
              [(ngModel)]="formData.retencion" #retencion="ngModel" ng-checked="formData.retencion">
            <!-- check desactivado -->
            <!-- <input type="checkbox" class="custom-control-input" id="retencion" name="retencion"
              [(ngModel)]="formData.retencion" #retencion="ngModel" *ngIf="formData.retencion==0">-->
            <!-- check nuevo 
              estos eran unos intentos que iba a hacer de acuerdo a los valores que traia
            -->
            <!-- <input type="checkbox" class="custom-control-input" id="retencion" name="retencion"
              [(ngModel)]="formData.retencion" #retencion="ngModel" *ngIf="formData.retencion==1"> -->

            <label class="custom-control-label" for="retencion"> ¿Cuenta en la retencion?</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="movimientos" name="movimientos"
              [(ngModel)]="formData.movimientos" #movimientos="ngModel">
            <label class="custom-control-label" for="movimientos"> ¿Implica movivmiento a terceros?</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-sm">
            <label for="number">TASA RETENCION<span class="required">*</span></label>
            <input type="number" class="form-control input-sm" name="tasa" codigo="tasa" required
              placeholder="Tasa retencion" [(ngModel)]="formData.tasa" #tasa="ngModel">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"
        (click)="cerrar(); cuentasForm.reset()">Cerrar
      </button>
      <button type="button" class="btn btn-success" *ngIf="c_accion==1" [disabled]="!cuentasForm.valid"
        (click)="guardar(cuentasForm,cuentasForm);">
        <i class="fa fa-save"></i> Guardar nota
      </button>
      <button type="button" class="btn btn-primary" *ngIf="c_accion==2" [disabled]="!cuentasForm.valid"
        (click)="editar(cuentasForm,cuentasForm);">
        <i class="fa fa-save"></i> Editar nota
      </button>
    </div>
  </form>
</ngx-smart-modal>