 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="../../../../assets/js/modernizr.min.js" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../../assets/css/normalize.min.css">
    <script src="../../../../assets/js/prefixfree.min.js"></script>

</head>
 
<body>
    <table class="responsive-table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Ref Catastral</th>
                <th scope="col">NIT/Cedula</th>
                <th scope="col">Direccion</th>
                <th scope="col">Vigencia</th>
                <th scope="col">Avalúo</th>
                <th scope="col">Predial</th>
                <th scope="col">Valor</th>
                <th scope="col">Add</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="info != null">
                <td data-title="Nombre"><input type="text" class="form-control form-control-sm input-sm"></td>
                <td data-title="Ref Catastral"><input type="text" class="form-control form-control-sm input-sm"></td>
                <td data-title="NIT/Cedula"><input type="text" class="form-control form-control-sm input-sm"></td>
                <td data-title="Direccion"><input type="text" class="form-control form-control-sm input-sm"></td>
                <td data-title="Vigencia"><input type="text" class="form-control form-control-sm input-sm"></td>
                <td data-title="Avalúo"><input type="text" class="form-control form-control-sm input-sm"></td>
                <td data-title="Predial"><input type="text" class="form-control form-control-sm input-sm"></td>
                <td data-title="Valor"><input type="text" class="form-control form-control-sm input-sm"></td>
                <td data-title="Add"><button class="btn btn-sm btn-success" (clcik)="selectAll()"><i class="fa fa-plus"></i></button></td>
            </tr>
            <tr  *ngFor="let item of info | filter: {referencia_catastral: text, nit_cedula: text, nombre: text, direccion: text, vigencia: text, avaluo: text, predial: text, valor:text  }" (click)="addToList(item)">
                <th scope="row">{{item.nombre}}</th>
                <td data-title="Ref Catastral">{{item.referencia_catastral}}</td>
                <td data-title="NIT/Cedula">{{item.nit_cedula}}</td>
                <td data-title="Direccion">{{item.direccion}}</td>
                <td data-title="Vigencia">{{item.vigencia}}</td>
                <td data-title="Avalúo">{{item.avaluo}}</td>
                <td data-title="Predial">{{item.predial}}</td>
                <td data-title="Valor">{{item.valor}}</td>
                <td data-title="Add"><input type="checkbox" (change)="addToList(item)"></td>
            </tr>
        </tbody>
        <tfoot>
          <!--
          <tr>
            code: | paginate: { itemsPerPage: 10, currentPage: p }  <pagination-controls [previousLabel]="'Anterior'" [nextLabel]="'Siguiente'" [responsive]="true" autoHide="true" (pageChange)="p = $event"></pagination-controls>  
          </tr>    
          -->     
        </tfoot>
    </table>

    <script src='../../../../assets/js/jquery.min.js'></script>

</body>

</html>
